<html>
    <head>
        <link rel="stylesheet" href="../css/reveal.css">
        <link rel="stylesheet" href="../css/white.css">
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
                <section>
                	<img src="../images/logo.png" />
					<h1>Vue.js</h1>
					<a href="http://cn.vuejs.org/">http://cn.vuejs.org/</a>
                </section>
                <section>
                	<h1>Vue.js</h1>
					<ul>
						<li>作者：尤雨溪</li>
						<li>国内使用：小米、阿里、美团、饿了么、苏宁易购等</li>
						<li>数据驱动+组件化的前端界面开发</li>
					</ul>
                </section>
                <section>
                	<img src="../images/advantage.png" style="width: 100%;" />
                </section>
                <section>
                	<a href="demo1.html">demo1</a>	简单例子		<br /><br />
					<a href="demo2.html">demo2</a>	双向绑定
                </section>
                <section>
                	<h1>核心思想</h1>
					<ul>
						<li>数据驱动</li>
						<li>组件化</li>
					</ul>
                </section>
                <section>
                	<h1>数据驱动</h1>
                </section>
                <section>
                	<img src="../images/oldMvc.png" />
                </section>
                <section>
                	<img src="../images/mvvm2.png" />
                </section>
                <section>
                	<img src="../images/codeMvvm.png" style="width: 100%;" />
                </section>
                <section>
                	<img src="../images/mvvm.png" style="width: 100%;" />
                </section>
                <section>
                	<h1>组件化</h1>
                </section>
                <section>
                	<img src="../images/components1.png" style="height: 100%;" />
                </section>
                <section>
                	<img src="../images/components.png" style="width: 100%;" />
                </section>
                <section>
                	<img src="../images/regCom1.png" />
                </section>
                <section>
                	<img src="../images/regCom2.png" />
                </section>
                <section>
                	<img src="../images/regCom3.png" style="height: 100%;"  />
                </section>
                <section>
                	<img src="../images/regCom4.png" />
                </section>
                <section>
                	<img src="../images/regCom5.png" />
                </section>
                <section>
                	<h1>用户行为</h1>
					<ul>
						<li>数据驱动</li>
						<li>组件化</li>
					</ul>	
                </section>
            </div>
        </div>
        <script src="../js/reveal.js"></script>
        <script>
            Reveal.initialize();
        </script>
    </body>
</html>