<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Vue</title>
		<link rel="stylesheet" href="../css/impress-demo.css" />
		<link rel="stylesheet" href="../css/index.css" />
	</head>
	<body>
		<div id="impress">
			<div class="step slide step1" data-x='0' data-y='0'>
				<img src="../images/logo.png" />
				<h1>Vue.js</h1>
			</div>
			<div class="step slide step2" data-x='1000' data-y=''>
				<h1>Vue.js</h1>
				<ul>
					<li>数据驱动+组件化的前端界面开发</li>
					<li>国内使用：小米、阿里、美团、百度</li>
				</ul>
			</div>
			<div class="step slide" data-x='2000' data-y=''>
				<a href="demo1.html">demo1</a>	简单例子		<br /><br />
				<a href="demo2.html">demo2</a>	双向绑定
			</div>
			<div class="step slide" data-x='3000' data-y=''>
				<h1>核心思想</h1>
				<ul>
					<li>数据驱动</li>
					<li>组件化</li>
				</ul>	
			</div>
			<div class="step slide" data-x='3000' data-y=''>
				<h1>用户行为</h1>
				<ul>
					<li>数据驱动</li>
					<li>组件化</li>
				</ul>	
			</div>			
		</div>
	<script type="text/javascript" src="../js/impress.js" ></script>
	<script type="text/javascript">
		impress().init();
	</script>
	</body>
</html>
